/* .navigation-section {
  height: auto;
  width: 100%;
} */

.navigation-section-whitebar {
  height: 80px;
  position: relative;
}

.navigation-section-whitebar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  gap: 20px;
}

.navigation-section-whitebar .logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navigation-whitebar-categories {
  /* display: none; */
  /* position: absolute; */
  background-color: white;
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  /* box-shadow: 4px 3px 10px 3px rgba(0, 0, 0, 0.1); */
  /* gap: 20px; */
  left: 0%;
  /* width: 100%; */
  /* top: 100%; */
  /* z-index: 10; */
  padding: 10px;
}

.navigation-section-categories-text {
  display: flex;
  align-items: center;
  gap: 5px;
}

button.categories-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.navigation-section i {
  font-size: 12px;
  cursor: pointer;
}

.navigation-section-searchbar-holder {
  border: #e4e4e4 1px solid;
  border-radius: 100px;
  width: 250px;
  height: 40px;
  padding: 5px;
}

.navigation-section-searchbar-holder input {
  width: 90%;
  height: 100%;
  border: none;
  outline: none;
  padding: 0 3px;
}

.navigation-section-searchbar-holder i {
  color: #c5c5c5;
}

.navigation-section i {
  font-size: 12px;
  cursor: pointer;
}

.navigation-section-account-cart {
  display: none;
}

.hambugerMenu-btn {
  cursor: pointer;
}

/* .navigation-section-categories-holder {
  position: absolute;
  width: 100%;
  left: 0;
  height: auto;
  border-radius: 8px;
  box-shadow: 4px 3px 10px 3px rgba(0, 0, 0, 0.1);
  padding: 30px;
  z-index: 20;
  background-color: white;
  top: 110%;
} */

/* .navigation-section-categories-item {
  height: 70px;
  background-color: var(--white-smoke);
  transition: all ease-in-out 250ms;
  border-radius: 6px;
  display: flex;
  align-items: center;
} */

/* .navigation-section-categories-item-holder {
  flex-wrap: wrap;
  gap: 20px;
  flex-shrink: 0;
  margin-top: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
} */

@media screen and (min-width: 750px) {
  .navigation-section-whitebar .logo {
    width: 150px;
    height: auto;
  }

  .navigation-section-categories-text i {
    font-size: 16px;
  }

  .navigation-section-account-cart {
    display: flex;
    gap: 10px;
    cursor: pointer;
  }

  .navigation-section-account-cart span {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .navigation-section-account-cart {
    display: flex;
    gap: 10px;
    cursor: pointer;
  }

  .navigation-section-account-cart span:nth-child(2) {
    position: relative;
  }

  .navigation-section-account-cart span {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .navigation-section-account-cart span:nth-child(2) .red {
    position: absolute;
    background-color: #dc2626;
    color: #fff;
    padding: 0 3px;
    border-radius: 50%;
    font-weight: 600;
    top: -7px;
    font-size: 12px;
    right: -10px;
  }

  .navigation-section-categories-item-holder {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .navigation-whitebar-categories {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    top: 0;
    box-shadow: none;
    gap: 20px;
    width: auto;
    z-index: 10;
  }

  .hambugerMenu-btn {
    display: none;
  }
  .navigation-section-categories-holder {
    top: 150%;
    width: 700px;
  }
  .navigation-section-categories-item-holder {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
